.aboutbody {
    width: 100%;
    height: auto;
    margin: 100px 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .leftcontent {
    width: 50%;
    text-align: center;
  }
  .leftcontent h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .leftcontent p {
    padding: 60px 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }
  
  .rightcontent {
    width: 50%;
    text-align: center;
  }
  .rightcontent img {
    width: 200px; 
    height:250px; 
    border-radius: 20%;
    object-fit: cover; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  .rightcontent h1 {
    text-align: center;
    color: white;
  }
  body {
    background-image: linear-gradient(to right top,
    blue
    
  )}
  
